/* .body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
} */

.box{
    height:70vh;
    width:20%;
    background-color: rgb(43, 42, 42);
    margin: 0 auto;
   border-radius: 5%;
   position: relative;
}

.card-image{
   height: 30vh;
   
    background-color: rgb(42, 41, 41);
    background-image: url(../Assets/krunch\ burger.jpg);
    background-size: cover;
        background-image:no-repeat;
        
   
    border-radius: 20%;
}

.card-body{
    height: 30vh;
    border:5px solid rgb(41, 41, 41); 
    border-radius: 20%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
   
}
.heading{
    color: aliceblue;
text-align: center;
}
.dec{
    color: azure;
    text-align: center;
}
.head{
    color: aliceblue;
    text-align: center;
}
.but{
    background-color: red;
    color: aliceblue;
    padding:10px 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        font-weight: bold;
position: absolute;
left: 70px;

}
.card1{
    height: 40vh;
    width: 20%;
    background-color: #1C1816;
    postion: absolute;
    top:280px;
    left: 700px;
}
